.deskButton {
  display: inline - block;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.deskButton: hover {
  -moz-box-shadow: inset 0px 1px 0px 0px #dcecfb;
  -webkit-box-shadow: inset 0px 1px 0px 0px #dcecfb;
  box-shadow: inset 0px 1px 0px 0px #dcecfb;
  background-color: #bddbfa;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 20px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}

.deskButton: active {
  position: relative;
  top: 1px;
  background: #ffffff;
}

.deskTitle {
  padding: 10px;
}

.deskTop_name {
  font-weight: bold;
}
